<div class="relative overflow-x-auto shadow-md rounded-md p-4 border">
    <div class=" flex flex-cols">
        <div class=" w-5/6">
            <app-searchbar [title] = "name"></app-searchbar>
        </div>
        <div class=" m-2 pl-10">
            <button type="submit" [routerLink]="['/addGame']" routerLinkActive="router-link-active" 
                        class=" w-full p-2.5  text-gray-800 bg-[#ea803f] hover:bg-[#d76823] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Add game
            </button>
        </div>
    </div>
    
    <!-- list of reservations  -->
    <table class="w-full text-sm text-left text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    min Players
                </th>
                <th scope="col" class="px-6 py-3">
                    Max Players
                </th>
                <th scope="col" class="px-6 py-3">
                    description
                </th>
                <th scope="col" class="px-6 py-3">
                    rules
                </th>
                <th scope="col" class="px-6 py-3">
                    difficulty
                </th>
                <th scope="col" class="px-6 py-3">
                    category
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{game.name}}
                </th>
                <td class="px-6 py-4">
                    {{game.minPlayers}}
                </td>
                <td class="px-6 py-4">
                    {{game.maxPlayers}}
                </td>
                <td class="px-6 py-4">
                    {{game.desc}}
                </td>
                <td class="px-6 py-4">
                    {{game.rules}}
                </td>
                <td class="px-6 py-4">
                    {{game.difficulty}}
                </td>
                <td class="px-6 py-4">
                    {{game.category}}
                </td>
                <td class="flex space-x-4 px-6 py-4">
                    <a [routerLink]="['/EditGame' , game.id]" routerLinkActive="router-link-active"  ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class=" flex w-6 h-6"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></a>
                    <a (click)="delete(game.id)" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"class=" flex w-6 h-6"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>