<section class="flex flex-col gap-8">
    <h1 class="font-semibold text-xl text-gray-900 pt-6">Dashboard</h1>

    <!-- cards -->
    <div class="flex items-center justify-between gap-2">
        <div
            class="w-1/4 border-b-2 border-b-[#EA803F] block py-2 px-4 bg-white border border-gray-200 rounded-sm shadow hover:bg-gray-100">
            <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-800 ">Total Games</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#EA803F]">20</h5>
            <p class="font-normal text-gray-500 ">Game</p>
        </div>
        <div
            class="w-1/4 border-b-2 border-b-[#EA803F] block py-2 px-4 bg-white border border-gray-200 rounded-sm shadow hover:bg-gray-100">
            <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-800 ">Total Admins</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#EA803F]">20</h5>
            <p class="font-normal text-gray-500 ">Admin</p>
        </div>
        <div
            class="w-1/4 border-b-2 border-b-[#EA803F] block py-2 px-4 bg-white border border-gray-200 rounded-sm shadow hover:bg-gray-100">
            <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-800 ">Total Reservations</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#EA803F]">20</h5>
            <p class="font-normal text-gray-500 ">Reservation</p>
        </div>
        <div
            class="w-1/4 border-b-2 border-b-[#EA803F] block py-2 px-4 bg-white border border-gray-200 rounded-sm shadow hover:bg-gray-100">
            <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-800 ">Signups / 7 days</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#EA803F]">20</h5>
            <p class="font-normal text-gray-500 ">Sign up</p>
        </div>
    </div>
    <!-- chart -->
    <div class="border">
            <canvas id="myChart" height="300px" class="bg-white p-4 rounded-sm shadow-md w-full"></canvas>
    </div>
    <!-- tabel -->
   
<div class="relative overflow-x-auto shadow-md sm:rounded-sm border">
    <table class="w-full text-sm text-left text-gray-500 ">
        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Our TOP 3 Games
        </caption>
        <thead class="text-xs text-white uppercase bg-[#EA803F] 0">
            <tr>
                <th scope="col" class="px-6 py-3">
                   NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    MIN PLAYERS
                </th>
                <th scope="col" class="px-6 py-3">
                    MAX PLAYERS
                </th>
                <th scope="col" class="px-6 py-3">
                    DESCRIPTION
                </th>
                <th scope="col" class="px-6 py-3">
                    RULES
                </th>
               
                <th scope="col" class="px-6 py-3">
                    DIFFICULTY
                </th>
                <th scope="col" class="px-6 py-3">
                    CATEGORY
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4">
                    Laptop
                </td>
               
               
            </tr>
           
           
        </tbody>
    </table>
</div>

</section>

